.footer.container {
  grid-row: 3 / 4;

  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.footer.container > a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
}
